<article class="post">
    <div class="title">
        <span>{{title}}</span>
        <h4>Posted by {{user.username}} on {{format_date created_at}}</h4>
    </div>
    <div class="post-text">
        <span>{{post_text}}</span>
    </div>
</article>