<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MechTech</title>
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>
        <div class="wrapper">
            <header>
                <div class="inner-head">
                    <div>
                        <h1>
                            MechTech Blog
                        </h1>
                    </div>
                    <nav>
                        <a href="/">Home</a>
                        <a href="/dashboard">Dashboard</a>
                        {{#if loggedIn}}
                        <button id="logout" class="btn-no-style">Logout</button>
                        {{else}}
                        <a href="/login">Login</a>
                        {{/if}}
                    </nav>
                </div>
            </header>
            <main>
                {{{ body }}}
            </main>
        </div>
        {{#if loggedIn}}
        <script src="/javascript/logout.js"></script>
        {{/if}}
    </body>
</html>