<section>
    <div class="new-post">
        <h2>Create New Post</h2>
        <form class="new-post-form">
            <div>
                <label for="post-title">Title</label>
                <textarea id="post-title" name="post-title"></textarea>
            </div>
            <div>
                <label for="post-text">Text</label>
                <textarea id="post-text" name="post-text"></textarea>
            </div>
            <button type="submit" class="btn">Create</button>
        </form>
    </div>
</section>
<script src="/javascript/add-post.js"></script>